@import 'theme';
@import 'mixins';

@histogram-bar-fill-color: darken(@theme-light-gray, 10%);
@histogram-bar-stroke-color: fade(shade(@histogram-bar-fill-color), 100%);
@histogram-bar-stroke-width: 1px;
@density-fill-color: fade(@theme-light-blue, 45%);
@density-stroke-color: @theme-dark-blue;
@density-stroke-width: 1px;

@query-point-fill-color: @theme-orange;
@query-mean-fill-color: @theme-orange;

.histogram-title {
  text-align: center;
}

//div.plot-area {
//  display: flex;
//  justify-content: center;
//  width: 100%;
//  height: 50px;
//  background: blue;
//}

.query-point {
  fill: @query-point-fill-color;
}

.query-point.mean {
  fill: tint(@query-point-fill-color, 25%);
  stroke: @query-point-fill-color;
  stroke-width: 1.5px;
}

.density-point {
  fill: steelblue;
}

svg.root-svg:not(:root) {
  overflow: visible;
  position: relative;
  //border: 1px solid black;
}

g.root-transform {
  visibility: visible;
  pointer-events: visible;
}

div.title-and-switch {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;

  h4 {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}

span.x-axis-title,
span.y-axis-title {
  //fill: black;
  font-size: 12pt;
  display: block;
  align-self: center;
  justify-self: center;
  //text-anchor: middle;
  //display: inline-block;
  span.axis-units {
    font-style: italic;
  }
}
span.x-axis-title {
  text-align: center;
}

span.y-axis-title {
  text-align: center;
  transform: rotate(-90deg) translateY(25%);
}

div.grid {
  display: grid;
  grid: ~'auto 1fr / 30px 1fr';
}

.x-axis-text {
  text-anchor: end;
}

.mouse-crosshair {
  fill: @density-stroke-color;
  stroke: none;
}

.vertical-line {
  stroke: @density-stroke-color;
}

.density-area {
  fill: @density-fill-color;
  stroke: @density-stroke-color;
  stroke-width: @density-stroke-width;
  stroke-linejoin: round;
}

.histogram-bar {
  stroke: @histogram-bar-stroke-color;
  stroke-width: @histogram-bar-stroke-width;
  fill: @histogram-bar-fill-color;
}

.tooltip-text {
  text-size: 1em;
}

.settings-icon {
  position: absolute;
  font-size: larger;
  right: 24px;
  top: 24px;
  z-index: 3;
}

.settings-content {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.bandwidth-slider {
  width: 100%;
}

.callout-background {
  fill: fade(@theme-white, 80%);
  //stroke-width: 0.5px;
  stroke: @theme-gray;
}

.bandwidth-slider-label {
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  span:nth-child(2) {
    font-style: italic;
  }
}

.hist-content {
  display: grid;
  grid: ~'auto auto auto / auto 1fr';
  height: fit-content;

  .hist-title {
    grid-area: ~'1/1/1/span 2';
    text-align: center;
    margin-bottom: 0;
    grid-column: span;
  }

  div.hist {
    overflow: visible;
  }

  span.axis-title {
    display: inline-block;
    font-size: 1.1em;

    &.y {
      display: inline-block;
      text-align: center;
      writing-mode: vertical-rl;
      line-height: 2;
      transform: rotate(180deg) translateX(3px);
    }

    &.x {
      margin: 0 auto;
    }

    .axis-title-unit {
      font-style: italic;
    }
  }
}
