@import '~antd/dist/antd.less';
@import 'mixins';

@round-failed-color: orange;
@between-rounds-color: teal;
@triggered-color: limegreen;
@round-active-color: red;
@test-complete-color: darkcyan;
@test-unstarted-color: gray;

@delta-positive-color: orange;
@delta-negative-color: lightgreen;
@delta-zero-color: lightgreen;

@border-faint: 1px solid rgba(255, 255, 255, 0.3);
@border-bright: 1px solid rgba(255, 255, 255, 0.5);

.ReactionTimeTest {
  background: #fff;
  padding: 32px 0;
  margin: 0 auto;
  width: 100%;
  min-width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  text-align: center;
  width: 100%;
}

.page-subtitle {
  font-style: italic;
  text-align: center;
  margin: 0 0 24px;
  width: 100%;
}

.reaction-area {
  color: white;
  min-height: 600px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.round-failed {
  background: @round-failed-color;
}

.between-rounds {
  background: @between-rounds-color;
}

.triggered {
  background: @triggered-color;
}

.round-active {
  background: @round-active-color;
}

.test-complete {
  background: @test-complete-color;
}

.test-unstarted {
  background: @test-unstarted-color;

  .reaction-area-message {
    animation: fade-in 1s ease 1s both;
  }
}

.reaction-area-message {
  .message-main {
    font-size: 5em;
    text-transform: uppercase;
  }

  .message-subtitle {
    display: block;
    color: white;
    font-size: 2.5em;
  }

  .message-small-subtitle {
    font-size: 1.3em;
    font-style: italic;
    font-weight: lighter;
    padding-top: 10px;
  }
}

.result-time {
  padding-top: 10px;
  min-width: fit-content;

  div.ant-statistic-content {
    font-size: 6em;
    color: white;
  }

  span.ant-statistic-content-prefix {
    font-size: 0.5em;
  }

  span.ant-statistic-content-value {
    font-size: 1em;
  }

  span.ant-statistic-content-value-decimal {
    font-size: 0.7em;
  }

  span.ant-statistic-content-suffix {
    font-size: 0.7em;
  }

  &.final-result {
    span.ant-statistic-content-value {
      font-weight: bold;
    }
  }
}

.results-summary {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0;

  .set-responsive(flex-flow; {
    xs: column nowrap;
    md: row-reverse;
  });

  .ScoreTable {
    flex-grow: 0;
    margin: 0;
    display: inline-block;
  }

  .big-stats {
    //margin-left: 24px;
    min-width: max-content;

    .stat-label {
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: -24px;
      text-align: left;
      text-transform: uppercase;
    }

    .result-time {
      text-align: left;
    }
  }

  .divider {
    margin: 24px 0;
    border-right: none;
    border-top: @border-bright;
    width: 100%;
    .screen-size(md, all; {
      border-right: @border-bright;
      margin: 0 24px;
      align-self: stretch;
      width: auto;
    });
  }
}

// Table styling
.ScoreTable {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.2rem;
  flex-grow: 0;

  table {
    table-layout: auto;
    width: 100%;
    text-align: right;
    vertical-align: baseline;

    th {
      text-align: right;
      padding: 10px 15px;
      font-weight: normal;
      border-bottom: @border-bright;
    }

    td {
      font-size: 0.9em;
      padding: 5px 15px;
      border-bottom: @border-faint;
    }

    td:last-of-type,
    th:last-of-type {
      border-bottom: none;
    }

    td.delta {
      font-size: 0.8em;
      text-align: left;
      padding-right: 0;
      padding-left: 5px;

      &.negative {
        color: @delta-negative-color;
      }

      &.zero {
        color: @delta-zero-color;
      }

      &.positive {
        color: @delta-positive-color;
      }
    }

    tbody {
      tr:last-of-type {
        td {
          border-bottom: @border-bright;
        }

        td:last-of-type {
          border-bottom: none;
        }
      }
    }

    tfoot {
      td {
        padding: 5px 15px;
        border-bottom: none;
      }
    }
  }
}
