div.lower-results {
  margin: 24px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;

  div.results-stat-card {
    //flex-grow: 1;
    //flex-shrink: 1;
    //min-width: 10px;
    //flex-wrap: wrap;
    flex: 1 1 auto;

    div.ant-statistic {
      display: inline-flex;
      flex-flow: column nowrap;
      margin-bottom: 0;
      text-wrap: none;
      justify-content: center;
      text-align: center;
    }

    & > div.ant-card-body {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap: 20px;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  div.histogram-card {
    //flex-grow: 1;
    flex: 1;
    width: fit-content;
    height: fit-content;

    div.ant-card-body {
      border: 1px solid aqua;
      display: flex;
      justify-content: center;
      height: auto;
    }
  }

  div.ant-statistic {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
