@theme-darkest-blue: #021427ff;
@theme-dark-blue: #052f5cff;
@theme-blue: #005c8aff;
@theme-light-blue: #0096e0ff;
@theme-purple: #742d7bff;
@theme-pink: #dc0e5aff;
@theme-green: #05cc2aff;
@theme-orange: #ef8f1aff;
@theme-dark-gray: #4b4b4eff;
@theme-gray: #86878aff;
@theme-light-gray: #e6e9efff;
@theme-white: #ffffffff;